spring:
  application:
    name: stammdatenverwaltung
  profiles:
    active: dev
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        '[format_sql]': true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true

server:
  error:
    include-message: always

management:
  endpoints:
    web:
      exposure:
        include: health,info,openapi,swagger-ui,metrics,env,beans,configprops
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    operationsSorter: method
  show-actuator: true

keycloak:
  server-url: "https://keycloak.sau-portal.de"
  realm: "sau"
  client-id: "team-11"
  client-secret: ${KEYCLOAK_CLIENT_SECRET}
  grant_type: "client_credentials"
  user-api-url: "https://sau-portal.de/userapi"

minio:
  endpoint: "https://file-service.sau-portal.de"
  access-key: "ase-team-11"
  secret-key: ${MINIO_SECRET}
  bucket-name: "ase-team-11"
